/* Example CSS rule */
body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
    text-align: center; 
    background-image: url(https://img.freepik.com/free-photo/magical-mystical-landscape-wallpaper-purple-tones_23-2150293336.jpg?semt=ais_se_enriched&w=740&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 25%;
    border-radius: 10%;
    height: 35px;
    border: 2px solid #ccc;
}
button {
    border: 1px solid #7e24c7;
    border-radius: 10%;
    background-color: #7e24c7;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 80px;
}
